html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

@font-face {
  font-family: productsansmedium_regular;
  src: url(../fonts/ProductSans-Medium.ttf);
}

@font-face {
  font-family: productsans_bold;
  src: url(../fonts/ProductSans-Bold.ttf);
}

.header {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: auto;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 1);
  width: 1903px;
  height: 1080px;
  left: 0px;
  top: 0px;
}

.header .maskGroup4 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-image: url("assets/maskGroup4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.header .maskGroup14 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-image: url("assets/maskGroup14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.header .maskGroup114 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-image: url("assets/maskGroup114.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.header .maskGroup4 .rectangle92 {
  position: absolute;
  box-sizing: border-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.header .group57 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 304px;
  height: 75px;
  left: 278px;
  top: 673px;
}

.header .group57 .rectangle29 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(239, 130, 22, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  width: 304px;
  height: 75px;
  left: 0px;
  top: 0px;
}

.header .group57 .registrarseYa {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: productsansmedium_regular, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 238px;
  height: 37px;
  left: 33px;
  top: 19px;
}

.header .group57 .ComprarAhora {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: productsansmedium_regular, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 238px;
  height: 37px;
  left: 23px;
  top: 19px;
}

.header .group59 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 307px;
  height: 182px;
  left: 276px;
  top: 452px;
}

.header .group59 .envioshastaTuCasa {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.8px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  font-family: productsansmedium_regular, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 307px;
  height: 182px;
  left: 0px;
  top: 0px;
}

.header .group59 .envioshastaTuCasa .envioshastaTuCasa-0 {
  color: rgba(239, 130, 22, 1);
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  font-family: productsans_bold, Arial;
  letter-spacing: 1.6;
  text-decoration: none;
}

.header .group59 .envioshastaTuCasa .envioshastaTuCasa-7 {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  font-family: productsansmedium_regular, Arial;
  letter-spacing: 0.8;
  text-decoration: none;
}

#search-button {
  background-color: rgba(239, 130, 22, 1);
  border: none;
  width: 40px;
  height: 40px;
}

#search-button svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header .group60 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 208.53px;
  height: 32.53px;
  left: 856px;
  top: 994.24px;
}

.header .group60 .group2 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 208.53px;
  height: 32.53px;
  left: 0px;
  top: 0px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgba(239, 130, 22, 1);
}

.header .panaderia {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.72px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  font-family: productsans_bold, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 211px;
  height: 54px;
  left: 64px;
  top: 37px;
}

.header .panaderia .panaderia-0 {
  color: rgba(239, 130, 22, 1);
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  font-family: productsans_bold, Arial;
  letter-spacing: 0.72;
  text-decoration: none;
}

.header .panaderia .panaderia-4 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  font-family: productsans_bold, Arial;
  letter-spacing: 0.72;
  text-decoration: none;
}

.header .dulce {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.43px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 27px;
  font-weight: 400;
  font-style: normal;
  font-family: productsansmedium_regular, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 71px;
  height: 33px;
  left: 1278px;
  top: 48px;
}

.header .group14 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 89px;
  height: 44.5px;
  left: 1139.5px;
  top: 48px;
}

.header .group14 .inicio {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.43px;
  color: rgba(239, 130, 22, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 27px;
  font-weight: 400;
  font-style: normal;
  font-family: productsansmedium_regular, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 67px;
  height: 33px;
  left: 10.5px;
  top: 0px;
}

.header .group14 .line1 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke: rgba(239, 130, 22, 1);
  stroke-width: 4px;
  stroke-linecap: round;
  box-shadow: none;
  width: 93px;
  height: 4px;
  left: -2px;
  top: 42.5px;
}

.header .rectangle36 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(239, 130, 22, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137254902));
  width: 186px;
  height: 56px;
  left: 1499px;
  top: 37px;
}

.header .iniciarSesion {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.43px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 27px;
  font-weight: 400;
  font-style: normal;
  font-family: productsansmedium_regular, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 164px;
  height: 33px;
  left: 1510px;
  top: 48px;
}

.header .salado {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.43px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 27px;
  font-weight: 400;
  font-style: normal;
  font-family: productsansmedium_regular, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 82px;
  height: 33px;
  left: 1384px;
  top: 48px;
}

.header .cart {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: none;
  width: 63.62px;
  height: 50px;
  left: 1716.38px;
  top: 40px;
}

.header .maskGroup2 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-image: url("assets/maskGroup2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 155px;
  height: 308px;
  left: -1.5px;
  top: 386.5px;
}

.header .maskGroup2 .group61 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 307.59px;
  height: 307.59px;
  left: -152.95px;
  top: 0.5px;
}

.header .maskGroup2 .group61 .rectangle14 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(239, 130, 22, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
  width: 217px;
  height: 218px;
  left: 45.3px;
  top: 44.8px;
}

.header .maskGroup2 .group61 .path1 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 9px;
  stroke-linecap: butt;
  box-shadow: none;
  width: 43px;
  height: 68px;
  left: 166.29px;
  top: 119.5px;
}

.header .maskGroup2 .polygon1 {
  position: absolute;
  box-sizing: border-box;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linecap: butt;
  box-shadow: none;
  width: auto;
  height: auto;
  left: -76.5px;
  top: 76.5px;
  right: -76.5px;
  bottom: 76.5px;
}

.header .maskGroup3 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-image: url("assets/maskGroup3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 155px;
  height: 308px;
  left: 1748.5px;
  top: 386.5px;
}

.header .maskGroup3 .group62 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 307.59px;
  height: 307.59px;
  left: 1.05px;
  top: -0.5px;
}

.header .maskGroup3 .group62 .rectangle15 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(239, 130, 22, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
  width: 217px;
  height: 218px;
  left: 45.3px;
  top: 44.8px;
}

.header .maskGroup3 .group62 .path2 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 9px;
  stroke-linecap: butt;
  box-shadow: none;
  width: 43px;
  height: 68px;
  left: 98.29px;
  top: 119.5px;
}

.header .maskGroup3 .polygon2 {
  position: absolute;
  box-sizing: border-box;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linecap: butt;
  box-shadow: none;
  width: auto;
  height: auto;
  left: -76.5px;
  top: 76.5px;
  right: -76.5px;
  bottom: 76.5px;
}
